<div class="container" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center" ng-click = "addReview()">BeerList</h1>
            <div class="page-header">
            </div>


            <div class="beerList" ng-repeat = "beer in beers  track by $index">
              <div ng-if="!updatingBeers[$index]">
                <h1>  <input class = "form"  ng-model="beer.name" disabled>   </input></h1>
                <p > Style: <input class = "form" ng-blur="editBeer(beer)" ng-model="beer.style" disabled>   </input></p>
                <p >Abv % :  <input class = "form" ng-blur="editBeer(beer)" ng-model="beer.abv" disabled>   </input></p>
                <p> rating : {{calcAvg($index)}} </p>
                Rate this beer:
                <jk-rating-stars max-rating="10" rating="0" on-rating="onItemRating(rating , beer._id)"> </jk-rating-stars>
                <img ng-src="{{beer.image}}" width = "50%" ></img>
                <button type="button" class="btn btn-primary" ng-click = "editBeer(beer, $index)">Edit Beer</button>
                <button type ="button" ng-click = "delete(beer._id)"> Delete </button>
                <a ui-sref="beer({id: beer._id, beerParam: beer})">Reviews</a>
              </div>


              <!-- edit beer section form-->
              <form ng-if="updatingBeers[$index]">
                  <h3>Edit Mode </h3>
                  <div class="form-group">
                      <input type="text" class="form-control" ng-model="updatingBeers[$index].name"></input>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" ng-model="updatingBeers[$index].style"></input>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" ng-model="updatingBeers[$index].abv"></input>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control"  ng-model="updatingBeers[$index].image"></input>
                  </div>
                  <button type="button" class="btn btn-primary" ng-click = "updateBeer($index)">Save Beer</button>
                  <button type="button" class="btn btn-primary" ng-click = "cancelEdit($index)">Cancel</button>
              </form>
                <!-- END edit beer section form-->

            </div>

            <!-- END print beers-->

            <!-- Add new beer form-->
            <form ng-submit="addBeer()">
                <h3>Add a new beer</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Beer Name" ng-model="name"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Style" ng-model="style"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ABV" ng-model="abv"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Image URL" ng-model="image"></input>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <!-- -->

        </div>
        </div>
    </div>
